@import "./variables.scss";
@import "./transition.scss";
@import "./public.scss";
@import "./mixin.scss";
@import "./element-variables.scss";
@import "./element.scss";
$blue: blue;
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  background-color: white;
}
.bg {
  background-color: #f4f5f5;
}
.bg-white {
  background-color: white;
}
.xs-hide {
  display: flex;
}
.xs-show {
  display: none;
}
.v-note-wrapper {
  min-height: 100px !important;
}

@import "./media.scss";
