@import "./variables.scss";
@import "./transition.scss";
@import "./public.scss";
@import "./mixin.scss";
@import "./element-variables.scss";
@import "./element.scss";
$blue: blue;
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  background-color: white;
}
.bg {
  background-color: #f4f5f5;
}
.bg-white {
  background-color: white;
}
.bg-gray {
  background-color: #f4f5f5;
}
.xs-hide {
  display: flex;
}
.xs-show {
  display: none;
}
.v-note-wrapper {
  min-height: 100px !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  //滑块部分
  border-radius: 5px;
  background-color: rgb(88, 102, 110);
}
::-webkit-scrollbar-track {
  //轨道部分
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 5px;
}
@import "./media.scss";
