@media (max-width: 980px) {
  #app {
    .xs-hide {
      display: none;
    }
    .xs-show {
      display: flex;
    }

    // 侧边栏
    .aside {
      display: none;
    }

    //信息修改
    .setting-box {
      padding: 10px 0;
    }

    // markdown 编辑器
    .v-note-panel {
      flex-direction: column;
      > div {
        width: 100%;
      }
    }
  }
}
